*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: #6589F9;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.whole-thing {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #FAB942 url('../img/question.gif') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-color: #6589F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #6589F9 !important;
}

.finish {
    height: 400px;
    width: 400px;
    background-image: url('https://static4.depositphotos.com/1000507/500/i/600/depositphotos_5001279-stock-photo-golden-trophy.jpg');
}

.score {
    height: 20px;
    width: 20px;
    background-color: #6589F9;
}

/* .score .remove-score {
    display: none !important;
} */

.counter {
    height: 10px;
    width: 10px;
}

.winner-pic {
    display: flex;
    background-image: url("./images/trophy2.png");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 500px;
    height: 500px;
    z-index: 1;
    margin: auto;
    
}